@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#261ada;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: initial;
}

html{
   font-size: 70%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
}

.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header img{
   height: 7rem;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
   margin-left: 1rem;
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}




/* appointments */


.main-sched .apnt-container{
   padding:2rem;
   background: var(--light-bg);
}

.main-sched .apnt-container .apnt-content{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.main-sched .apnt-container .apnt-content .appointments{
   flex:1 1 41rem;
}

.main-sched .apnt-container .apnt-content .appointments{
   font-size: 1.9rem;
   color:var(black);
}

.main-sched .apnt-container .btn{
   margin-top: 2rem;
}

.main-sched .apnt-container h4{
   font-size: 2rem;
}

/*    book    */

.main-sched .book-form{
    padding:2rem;
    background: var(--light-bg);
 }
 
 .main-sched .book-form .container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
 }
 
 .main-sched .book-form .container .inputBox{
    flex:1 1 41rem;
 }
 
 .main-sched .book-form .container .inputBox input{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 1.6rem;
    color:var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border:var(--border);
 }
 
 .main-sched .book-form .container .inputBox input:focus{
    background: var(--black);
    color:var(--white);
 }
 
 .main-sched .book-form .container .inputBox input:focus::placeholder{
    color:var(--light-white);
 }
 
 .main-sched .book-form .container .inputBox span{
    font-size: 1.8rem;
    color:var(black);
 }
 
 .main-sched .book-form .btn{
    margin-top: 2rem;
 }

 .book-form .proceed-btn{
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
 }

 .book-form .cancel-btn{
    display: inline-flex;
    height: 40px;
    padding: 0;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
 }

 .book-form .button__text, .button__icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: black;

 }

 .book-form .proceed-btn:hover{
    background: #777;
 }

 .book-form .proceed-btn:active{
    background: #242323;
 }

 .book-form .cancel-btn:hover{
    background: #777;
 }

 .book-form .cancel-btn:active{
    background: #242323;
 }
 


 /*    popup    */
 .main-sched#popup.active{
   filter: blur(20px);
 }

.popup {
   position: fixed;
   top: 0%;
   left: 0%;
   bottom: 0%;
   right: 0%;
   transform: translate(0%,0%) scale(0);
   transition: 200ms ease-in-out;
   border: 1px solid black;
   border-radius: 10px;
   z-index: 20;
   background-color: rgba(25, 9, 165, 0.9);
   padding: 10px 15px;
   color: #eee;
 }
 .full-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .popup.active {
   transform: translate(0%,0%) scale(1);
 }

.popup .popup-header {
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid black;
   font-size: 1rem;
 }



.popup-header .title {
   padding-top: 30px;
   font-size: 1.75rem;
   font-weight: bold;
 }

.popup-header .close-button {
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.25rem;
   font-weight: bold;
 }

.popup-body {
   padding: 10px 15px;
 }
 
 .popup-body .span{
    font-size: 1.25rem;

 }


.popup-body img {
   height: 500px;
   max-height: 700px;
   width: 390px;
   max-width: 600px;
   justify-content: center;
   align-items: center;
 }

 .popup .proceed-btn {
   cursor: pointer;

 }

 .popup .cancel-btn {
   cursor: pointer;

 }


#overlay {
   position: fixed;
   opacity: 0; 
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   pointer-events: none;
}

#overlay.active {
   opacity: 1;
   pointer-events: all;

}

.conf .conf-container .proceed-btn{
   cursor: pointer;
   
}
 


@media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    section{
       padding:3rem 2rem;
    }
 
    .home .slide .content h3{
       font-size: 10vw;
    }
 
 }
 
 @media (max-width:768px){
 
    .heading h1{
       font-size: 3rem;
    }
 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       padding:2rem;
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar a{
       display: block;
       margin:2rem;
       text-align: center;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading-title{
       font-size: 3.5rem;
    }

    .popup-body img {
        height: 385px;
        max-height: 400px;
        width: 285px;
        max-width: 400px;
        justify-content: center;
        align-items: center;
      }
 
 }
 
 

 
/*footer starts*/


.footer{
    background: url(../images/footer-3.png) no-repeat;
    background-size: cover;
    background-position: center;
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
 }
 
 .footer .box-container .box h3{
    color:var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
 }
 
 .footer .box-container .box a{
    color:var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--white);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }
 
 
 