@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:#261ada;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 100%;
    overflow-x: hidden;

}

body{

    background-color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
}
html::-webkit-scrollbar{
    width: 1rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: var(--white);
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }
 
 
 @keyframes fadeIn {
    0%{
       transform: scale(0);
       opacity: 0;
    }
 }
 
 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content:space-between;

 }
 
 .header img{
    height: 7rem;
 }
 
 .header .logo{
    margin-left: 1rem;
    font-size: 1.5rem;
    color:var(--black);
    align-items: center;
    justify-content: center;
 }
 
 .header .navbar a{
    font-size: 1.2rem;
    margin-right: 1.5rem;
    color:var(--black);
    justify-content: center;
 }
 
 .header .navbar a:hover{
    color:var(--main-color);
 }
 
 #menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display: none;
 }


@media screen and (min-width: 55em) {
    body {
      height: 100vh;
      margin: 0;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
  }
  
  p, span, ul, li {
    color: #2d4338;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
  }
  .calendar-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .calendar-contain {

    position: relative;
    left: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    max-width: 1020px;
    min-width: 450px;
    margin: 3rem auto;
    background-color: #f5f7f6;
    box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
    color: #040605;
  }
  @media screen and (min-width: 55em) {
    .calendar-contain {
      margin: auto;
      top: 5%;
    }
  }
  
  .title-bar {
    position: relative;
    width: 100%;
    display: table;
    text-align: right;
    background: #f5f7f6;
    padding: 2rem;
    margin-bottom: 0;
  }
  .title-bar:after {
    display: table;
    clear: both;
  }
  
  .title-bar__prev{
    position: relative;
    float: left;
    text-align: left;
    cursor: pointer;
    width: 22px;
    height: 30px;
  }
  .title-bar__prev:after {
      content: "";
      display: inline;
      position: absolute;
      width: 14px;
      height: 14px;
      right: 0;
      left: 2px;
      top: 7px;
      margin: auto;
      border-top: 1.5px solid black;
      border-right: 1.5px solid black;
      -webkit-transform: rotate(224deg);
      transform: rotate(224deg);
  }
  .title-bar__next{
    position: relative;
    float: right;
    text-align: right;
    cursor: pointer;
    width: 22px;
    height: 30px;
  }
  .title-bar__next:after {
      content: "";
      display: inline;
      position: absolute;
      width: 14px;
      height: 14px;
      right: 2px;
      top: 7px;
      margin: auto;
      border-top: 1.5px solid black;
      border-right: 1.5px solid black;
      -webkit-transform: rotate(44deg);
      transform: rotate(44deg);
  }
  .title-bar__year {
    display: block;
    position: relative;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    width: 47%;
    padding: 0 0.5rem;
    text-align: center;
  }
  .title-bar__year select{
    padding: 2px 6px;
    font-size: 16px;
  }
  @media screen and (min-width: 55em) {
    .title-bar__year {
      width: 47%;
    }
  }
  
  .title-bar__month {
    position: relative;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    width: 47%;
    padding: 0 0.5rem;
    text-align: center;
  }
  .title-bar__month select{
    padding: 2px 6px;
    font-size: 16px;
  }
  @media screen and (min-width: 55em) {
    .title-bar__month {
      width: 47%;
    }
  }
  
  .calendar__sidebar {
    width: 100%;
    margin: 0 auto;
    float: none;
    background: linear-gradient(120deg, #eff3f3, #e1e7e8);
    padding-bottom: 0.7rem;
  }
  @media screen and (min-width: 55em) {
    .calendar__sidebar {
      position: absolute;
      height: 100%;
      width: 30%;
      float: left;
      margin-bottom: 0;
    }
  }
  
  .calendar__sidebar .content {
    padding: 2rem 1.5rem 2rem 4rem;
    color: #040605;
  }
  
  .sidebar__list {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .sidebar__list-item {
    margin: 1.2rem 0;
    color: black;
    font-weight: 200;
    font-size: 1rem;
  }
  
  .list-item__time {
    display: inline-block;
    /*width: 60px;*/
  }
  @media screen and (min-width: 55em) {
    .list-item__time {
      margin-right: 1rem;
    }
  }
  
  .sidebar__list-item--complete {
    color: rgba(4, 6, 5, 0.3);
  }
  .sidebar__list-item--complete .list-item__time {
    color: rgba(4, 6, 5, 0.3);
  }
  
  .sidebar__heading {
    font-size: 2.2rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  .sidebar__heading span {
    float: right;
    font-weight: 300;
  }
  
  .calendar__heading-highlight {
    color: #2d444a;
    font-weight: 900;
  }
  
  .calendar__days {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -webkit-box-align: stretch;
            align-items: stretch;
    width: 100%;
    float: none;
    min-height: 580px;
    height: 100%;
    font-size: 12px;
    padding: 0.8rem 0 1rem 1rem;
    background: #f5f7f6;
  }
  @media screen and (min-width: 55em) {
    .calendar__days {
      width: 70%;
      float: right;
    }
  }
  
  .calendar__top-bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 32px;
            flex: 32px 0 0;
  }
  
  .top-bar__days {
    width: 100%;
    padding: 0 5px;
    color: #2d4338;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
  }
  
  .calendar__week {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex: 1 1 0;
  }
  
  .calendar__day {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 1.9rem 0.2rem 0.2rem;
    cursor: pointer;
  }
  
  .calendar__day.event .calendar__date, .calendar__day.event .calendar__task{
    color: #4285f4;
  }
  
  .calendar__date {
    color: #040605;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0.7;
  }
  @media screen and (min-width: 55em) {
    .calendar__date {
      font-size: 2.3rem;
    }
  }
  
  .calendar__week .inactive .calendar__date,
  .calendar__week .inactive .task-count {
    color: #c6c6c6;
  }
  .calendar__week .today .calendar__date {
    color: #261ada;
  }
  
  .calendar__task {
    color: #040605;
    display: -webkit-box;
    display: flex;
    font-size: 0.8rem;
  }
  @media screen and (min-width: 55em) {
    .calendar__task {
      font-size: 1rem;
    }
  }
  .calendar__task.calendar__task--today {
    color: #261ada;
  }

  @media (max-width:768px){

    .heading h1{
       font-size: 4rem;
    }
 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       padding:2rem;
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .navbar a{
       display: block;
       margin:2rem;
       text-align: center;
    }
 
 }
 @media (max-width:991px){

  html{
     font-size: 90%;
  }

  section{
     padding:3rem 2rem;
  }


}
 



  /*Footer */
.footer{
    background: url(../images/footer-3.png) no-repeat;
    background-size: cover;
    background-position: center;
 }
 
.footer .box-container{
    padding-top: 5rem;
    padding-left: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
 }
 
.footer .box-container .box h3{
    color:var(--white);
    font-size: 1.5rem;
    padding-bottom: 2rem;
 }
 
.footer .box-container .box a{
    color:var(--light-white);
    font-size: .9rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
.footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 
.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--white);
 }
 
.footer .credit span{
    color:var(--main-color);
 }
 
 
